.btn-primary {
	color: $primary;
	text-transform: uppercase;
	background: $secondary;
	padding: 14px 25px;
	border-radius: 45px;
	transition: all .2s linear;
	outline: none;
	border: none;

	font: {
		weight: 700;
		size: 0.95em;
	}

	&:hover {
		color: $primary;
		@extend %shadow_btn;
	}
}