.btn-primary {
    font: {
        weight: 700;
        size: .95em;
    }
    padding: 14px 25px;
    cursor: pointer;
    transition: all .2s linear;
    text-transform: uppercase;
    color: $primary;
    border: none;
    border-radius: 45px;
    outline: none;
    background: $secondary;
    &:hover {
        color: $primary;
        @extend %shadow_btn;
    }
}

.btn.disable {
    color: $grey92;
    background: $grey92;
    &:hover {
        box-shadow: none;
    }
}