$primary: #ffffff;
$secondary: #b5ddf7;
$text: #999999;

$grey97: #f7f7f7;
$grey95: #f3f3f3;
$grey92: #ebebeb;
$grey85: #d9d9d9;
$grey80: #cccccc;
$grey75: #bfbfbf;
$grey70: #b2b2b2;
$grey60: #999999;

$green: #a8d096;
$red: #f16866;