* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    outline: none;
}

a {
    transition: all .1s linear;
    text-decoration: none;
    color: $grey75;
    &:hover {
        color: $grey70;
    }
}

::-webkit-input-placeholder {
    color: $grey85;
}

::-moz-placeholder {
    color: $grey85;
}

:-ms-input-placeholder {
    color: $grey85;
}

:-moz-placeholder {
    color: $grey85;
}

body {
    font: {
        family: 'Ubuntu', sans-serif;
    }
    background: $grey95;
}

.alert {
    width: 100%;
    margin: 0 0 40px;
    padding: 20px;
    color: $grey70;
    border-radius: 5px;
    background: $grey92;
    i {
        margin: 0 10px 0 0;
    }
    &.success {
        color: #9cc19c;
        background: #cbefcb;
    }
    &.info {
        color: #9cacb7;
        background: #d8e8f3;
    }
    &.warning {
        color: #cac1ac;
        background: #f5ebd2;
    }
    &.danger {
        color: #bf9a9a;
        background: #f1dbdb;
    }
}

#overlay {
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.block {
    margin: 0 0 50px;
    border-radius: 5px;
    background: $primary;
    @extend %shadow_static;
    .title {
        font-size: 1.3em;
        padding: 40px 40px 30px;
        color: $text;
        &.title-message {
            font-size: 1em;
            position: relative;
            &:before {
                position: absolute;
                z-index: 1;
                bottom: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 2px;
                content: '';
                background: $grey95;
            }
            > * {
                display: inline-block;
                vertical-align: middle;
            }
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            > ul {
                margin: 0 10px;
                li {
                    padding: 3px 5px;
                    &.date {
                        font-size: .9em;
                    }
                }
            }
        }
    }
    .block-content {
        padding: 30px 40px;
        color: $text;
        &.hastable {
            padding: 0 40px 40px;
        }
        &.message-content {
            padding: 0 0 40px;
        }
        .panel {
            margin: 50px 0 20px;
            .btn-primary {
                margin: 0 20px 0 0;
                display: inline-block;
            }
        }
    }
    .tabs {
        position: relative;
        padding: 0 40px;
        &:before {
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 2px;
            content: '';
            background: $grey95;
        }
        li {
            position: relative;
            z-index: 2;
            display: inline-block;
            margin: 0 30px 0 0;
            &:last-child {
                margin: 0;
            }
            a {
                display: block;
                padding: 15px 5px;
                span {
                    font-size: .8em;
                    margin: 0 0 0 5px;
                    padding: 4px 5px;
                    color: $primary;
                    border-radius: 2px;
                    background: $grey92;
                }
            }
            &.active {
                border-bottom: 2px solid $secondary;
                a {
                    color: $secondary;
                    span {
                        background: $secondary;
                    }
                }
            }
        }
    }
    table {
        width: 100%;
        color: $text;
        thead {
            border-bottom: 2px solid $grey92;
        }
        th {
            font-size: .8em;
            color: $grey80;
        }
        td,
        th {
            padding: 15px 10px;
            text-align: left;
        }
        tr td:last-child {
            text-align: right;
            color: $grey80;
            button {
                font-size: 1.2em;
                border: none;
                background: none;
            }
        }
    }
}

.field {
    display: inline-block;
    width: 230px;
    margin: 0 26px 0 0;
    padding: 15px 0;
    > span {
        display: block;
        margin: 0 0 15px;
        color: $grey85;
        overflow: hidden;
        a {
            margin: 0 0 0 10px;
        }
    }
    input,
    textarea,
    select {
        line-height: 50px;
        width: 100%;
        height: 50px;
        padding: 0 20px;
        transition: all .2s linear;
        color: $text;
        border: none;
        outline: none;
        background: $grey95;
        &:focus {
            background: $primary;
            @extend %shadow_primary;
        }
    }
    textarea {
        line-height: inherit;
        min-height: 100px;
        padding: 20px;
        resize: none;
    }
    &.full {
        width: 100%;
    }
}

.inputfile {
    display: inline-block;
    input {
        position: absolute;
        z-index: -1;
        overflow: hidden;
        width: .1px;
        height: .1px;
        opacity: 0;
        + label {
            font: {
                weight: 700;
                size: .95em;
            }
            display: inline-block;
            padding: 14px 25px;
            cursor: pointer;
            transition: all .2s linear;
            text-transform: uppercase;
            color: $primary;
            border: none;
            border-radius: 45px;
            outline: none;
            background: $grey92;
        }
        + label:hover {
            @extend %shadow_static;
        }
        &:focus + label {
            background: $secondary;
            @extend %shadow_btn;
        }
    }
}

.checkbox {
    display: inline-block;
    input {
        display: none;
        &:checked + label:before {
            background: $secondary;
        }
    }
    label {
        position: relative;
        padding: 0 0 0 35px;
        &:before {
            position: absolute;
            left: 0;
            width: 20px;
            height: 20px;
            content: '';
            cursor: pointer;
            transition: all .1s linear;
            border-radius: 2px;
            background: $grey92;
        }
    }
}

.online {
    color: $secondary;
}

.group-label {
    font-size: 10px;
    margin: 0 0 0 10px;
    padding: 7px 10px;
    text-transform: uppercase;
    color: $grey70;
    border-radius: 2px;
    background: $grey95;
}