.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.col_12 {
	width: 1170px;
}

.col_11 {
	width: 1070px;
}

.col_10 {
	width: 970px;
}

.col_9 {
	width: 870px;
}

.col_8 {
	width: 770px;
}

.col_7 {
	width: 670px;
}

.col_6 {
	width: 570px;
}

.col_5 {
	width: 470px;
}

.col_4 {
	width: 370px;
}

.col_3 {
	width: 270px;
}

.col_2 {
	width: 170px;
}

.col_1 {
	width: 70px;
}