// Top panel
.top_panel {
    background: $primary;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    .container > ul li {
        display: inline-block;
    }
    .logotype {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.1em;
        a {
            display: block;
            color: $grey80;
            padding: 0 15px;
        }
        .project_name {
            color: $grey60;
        }
        &.disable {
            a {
                color: $primary;
                & > span {
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 81px;
                        height: 20px;
                        background: $grey80;
                    }
                }
                .project_name {
                    color: $primary;
                    &:after {
                        right: inherit;
                        left: 0;
                        width: 70px;
                        background: $grey60;
                    }
                }
            }
        }
    }
    .search {
        margin: 0 0 0 25px;
        i {
            display: none;
            position: absolute;
            top: 23px;
            left: 15px;
            width: 40px;
            height: 45px;
            text-align: center;
            line-height: 45px;
            color: $grey85;
            font-size: 1.3em;
            cursor: pointer;
        }
        input {
            width: 200px;
            height: 45px;
            line-height: 45px;
            padding: 0 25px;
            border: 1px solid $grey92;
            border-radius: 45px;
            color: $text;
            transition: all .2s linear;
            &:focus {
                border-color: $primary;
                @extend %shadow_primary;
            }
        }
    }
    .write {
        margin: 0 25px 0 0;
    }
    .user_panel {
        float: right;
        li {
            display: inline-block;
        }
        .links {
            color: $grey85;
            font-size: 1.3em;
            &.search_icon,
            &.write_icon {
                display: none;
            }
            a {
                color: $grey85;
                display: block;
                padding: 0 25px;
            }
            i {
                position: relative;
            }
            .new {
                position: absolute;
                width: 6px;
                height: 6px;
                right: 1px;
                top: 2px;
                border-radius: 50%;
                background: $red;
            }
        }
    }
}
.notification {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: -350px;
    overflow: auto;
    width: 350px;
    height: 100%;
    color: #000;
    background: #fff;
    transition: all .1s linear;
    background: $grey95;
    &.active {
        right: 0;
    }
    .notification-head {
        height: 90px;
        padding: 0 25px;
        text-align: center;
        line-height: 90px;
        color: $text;
        background: $primary;
        div {
            display: inline-block;
            text-transform: uppercase;
            i {
                cursor: pointer;
                font-size: 1.3em;
                color: $grey85;
            }
        }
        .head-close {
            float: left;
        }
        .head-clear {
            float: right;
        }
    }
    #core-notifications {
        > p {
            color: $grey85;
            font-size: 0.9em;
            margin: 30px 15px 20px;
            text-align: center;
        }
        .notif {
            > a {
                display: block;
                padding: 20px 25px;
                color: $text;
            }
            .type {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: $grey80;
                margin: 0 15px 0 0;
                float: left;
            }
            p {
                white-space: nowrap;
                margin: 9px 0;
                overflow: hidden;
                position: relative;
                small {
                    display: block;
                    color: $grey80;
                }
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 30px;
                    height: 100%;
                    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(243, 243, 243, 1) 100%);
                }
            }
        }
        .notification-nope {
            text-align: center;
            color: $grey85;
            margin: 50px 25px;
            text-transform: uppercase;
            i {
                font-size: 3em;
            }
        }
    }
}

//Main
main {
    display: inline-block;
    width: calc(100% - 300px);
    margin: 50px 0 0 0;
    .search_total {
        margin: 10px 0 40px;
        text-transform: uppercase;
        font-weight: 700;
        color: #ccc;
    }
    article {
        padding: 40px;
        margin: 0 0 50px;
        background: $primary;
        border-radius: 5px;
        transition: all .2s linear;
        @extend %shadow_static;
        &:hover {
            @extend %shadow_primary;
        }
        &.full_post {
            @extend %shadow_primary;
        }
        .post_top {
            margin: 0 0 40px;
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                vertical-align: middle;
                margin: 0 10px 0 0;
            }
            span {
                color: $grey80;
                margin: 0 0 0 5px;
            }
            .has-read {
                color: $grey70;
                background: $grey95;
                padding: 9px 15px;
                text-transform: uppercase;
                border-radius: 30px;
                font-size: 0.7em;
                float: right;
            }
        }
        .post_text {
            color: $text;
            a {
                display: block;
                color: $text;
                line-height: 1.9em;
                word-wrap: break-word;
            }
            span {
                display: block;
                margin: 0 0 15px;
                font: {
                    weight: 700;
                    size: 1.2em;
                    color: $grey60;
                }
            }
            h1 {
                text-align: center;
                padding: 40px 0;
            }
        }
        .post_tags {
            margin: 30px 0 0;
            color: $grey60;
            a {
                color: $grey60;
            }
            i {
                color: $grey85;
                font-size: 1.2em;
                margin: 0 5px 0 0;
            }
        }
        .post_bottom {
            margin: 50px 0 0;
            a,
            > span {
                color: $grey60;
                margin: 0 15px 0 0;
            }
            i {
                color: $grey85;
                font-size: 1.2em;
                margin: 0 5px 0 0;
            }
            .category {
                margin: 0 40px 0 0;
            }
            .rating {
                float: right;
                margin: 0;
                i {
                    margin: 0;
                    cursor: pointer;
                    padding: 0 8px;
                    &.like {
                        color: $green;
                    }
                    &.dislike {
                        color: $red;
                    }
                }
            }
        }
    }
    .post-nope {
        text-align: center;
        color: $grey85;
        margin: 50px 0;
        text-transform: uppercase;
        i {
            font-size: 5em;
            display: block;
            margin: 0 0 25px;
        }
        div {
            margin: 0 0 10px;
        }
    }
    .pagination {
        text-align: center;
        padding: 0 40px;
        margin: 0 0 50px;
        li {
            display: inline-block;
            &:first-child {
                float: left;
            }
            &:last-child {
                float: right;
            }
            &.disabled {
                color: $grey85;
                cursor: default;
            }
            &.num a {
                padding: 0 10px;
            }
            &.active a {
                background: $grey92;
                padding: 8px 10px;
                border-radius: 2px;
            }
        }
    }
    &.main_center {
        display: block;
        width: 570px;
        margin: 50px auto;
    }
    &.not_found {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 4em;
        color: $text;
        margin: 200px auto 50px;
        span {
            margin: 40px 0 0;
            line-height: 2em;
            display: block;
            font-size: .3em;
            color: $grey85;
        }
    }
}
#sidebar {
    width: 270px;
    float: right;
    margin: 60px 0 0 30px;
    section {
        padding: 0 0 40px;
        margin: 0 0 40px;
        border-bottom: 1px solid $grey92;
        line-height: 1.8em;
        .title {
            text-transform: uppercase;
            font-weight: 700;
            color: $grey80;
            margin: 0 0 30px;
            line-height: initial;
        }
    }
    #panel {
        border: none;
        margin: 0;
        a {
            display: block;
            border-radius: 5px;
            background: $grey92;
            color: $text;
            height: 60px;
            padding: 0 15px;
            margin: 0 0 20px;
            line-height: 60px;
            transition: all .2s linear;
            &:hover {
                @extend %shadow_static;
            }
            &:last-child {
                margin: 0;
            }
        }
        i {
            width: 25px;
        }
    }
    #category {
        a {
            margin: 0 5px 0 0;
            &.active {
                color: $grey60;
                font-weight: 700;
            }
        }
    }
    #popular {
        a {
            display: block;
        }
    }
    #adv {
        .adv_mockup {
            background: $grey92;
            height: 300px;
        }
    }
    footer {
        text-align: center;
        margin: 0 0 60px 0;
        a {
            padding: 5px;
        }
    }
}

//Comments
.add_form {
    position: relative;
    margin: 0 0 25px;
    > * {
        transition: all .1s linear;
    }
    textarea {
        width: 100%;
        resize: none;
        outline: none;
        border: none;
        padding: 26px 70px 26px 25px;
        border-radius: 5px;
        background: $grey92;
        color: $text;
        overflow: hidden;
        display: block;
        line-height: 1.5em;
        &::-webkit-input-placeholder {
            color: $grey75;
        }
        &:focus {
            background: $primary;
            + button {
                background: $secondary;
                font-size: initial;
                &:hover {
                    @extend %shadow_btn;
                }
            }
        }
    }
    button {
        background: $grey85;
        color: $primary;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: none;
        border-radius: 50%;
        font-size: 0;
        position: absolute;
        bottom: 18px;
        right: 15px;
        outline: none;
    }
}
.comments_item {
    padding: 25px 0;
    overflow: hidden;
    .item-photo {
        float: left;
        a {
            display: inline-block;
        }
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
    .item-text {
        width: calc(100% - 70px);
        float: right;
        color: $grey80;
        .text {
            margin: 20px 0 40px;
            color: $text;
        }
        .date {
            font-size: .8em;
        }
    }
}

//Auth


//Profile
.profile {
    margin: 0 0 50px;
    background: $primary;
    border-radius: 5px;
    @extend %shadow_static;
    .general {
        padding: 35px 40px;
        color: $grey60;
        font-size: 1.2em;
        border-bottom: 1px solid $grey95;
        > * {
            display: inline-block;
            vertical-align: middle;
        }
        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin: 0 20px 0 0;
        }
        .group-label {
            text-transform: uppercase;
            font-size: .5em;
            background: $grey95;
            color: $grey70;
            padding: 7px 10px;
            margin: 0 0 0 10px;
            border-radius: 2px;
        }
        .rating {
            float: right;
        }
        small {
            display: block;
            margin: 10px 0 0;
            color: $grey80;
        }
    }
    .information {
        padding: 35px 40px;
        color: $grey80;
        overflow: hidden;
        > * {
            display: inline-block;
            vertical-align: top;
        }
        .counter {
            margin: 0 40px 0 0;
            span {
                display: block;
                color: $grey60;
                font-size: 2em;
                margin: 0 0 10px 0;
            }
        }
        .about {
            width: 530px;
            float: right;
            li {
                padding: 10px 0;
                i {
                    min-width: 30px;
                }
                span, a {
                    color: $grey60;
                    word-wrap: nowrap;
                }
            }
        }
    }
}