// Top panel
.top_panel {
    line-height: 90px;
    overflow: hidden;
    height: 90px;
    background: $primary;
    .container > ul li {
        display: inline-block;
    }
    .logotype {
        font-size: 1.1em;
        font-weight: 700;
        text-transform: uppercase;
        a {
            display: block;
            padding: 0 15px;
            color: $grey80;
        }
        .project_name {
            color: $text;
        }
        &.disable {
            a {
                color: $primary;
                & > span {
                    position: relative;
                    &:after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 81px;
                        height: 20px;
                        content: '';
                        background: $grey80;
                    }
                }
                .project_name {
                    color: $primary;
                    &:after {
                        right: inherit;
                        left: 0;
                        width: 70px;
                        background: $text;
                    }
                }
            }
        }
    }
    .search {
        margin: 0 0 0 25px;
        i {
            font-size: 1.3em;
            line-height: 45px;
            position: absolute;
            top: 23px;
            left: 15px;
            display: none;
            width: 40px;
            height: 45px;
            cursor: pointer;
            text-align: center;
            color: $grey85;
        }
        input {
            line-height: 45px;
            width: 200px;
            height: 45px;
            padding: 0 25px;
            transition: all .2s linear;
            color: $text;
            border: 1px solid $grey92;
            border-radius: 45px;
            &:focus {
                border-color: $primary;
                @extend %shadow_primary;
            }
        }
    }
    .write {
        margin: 0 25px 0 0;
    }
    .user_panel {
        float: right;
        li {
            display: inline-block;
        }
        .links {
            font-size: 1.3em;
            color: $grey85;
            &.search_icon,
            &.write_icon {
                display: none;
            }
            a {
                display: block;
                padding: 0 25px;
                color: $grey85;
            }
            i {
                position: relative;
            }
            .new {
                position: absolute;
                top: 2px;
                right: 2px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: $red;
            }
        }
    }
}

.notification {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: -350px;
    overflow: auto;
    width: 350px;
    height: 100%;
    transition: all .1s linear;
    color: #000;
    background: #fff;
    background: $grey95;
    &.active {
        right: 0;
    }
    .notification-head {
        line-height: 90px;
        height: 90px;
        padding: 0 25px;
        text-align: center;
        color: $text;
        background: $primary;
        div {
            display: inline-block;
            text-transform: uppercase;
            i {
                font-size: 1.3em;
                cursor: pointer;
                color: $grey85;
            }
        }
        .head-close {
            float: left;
        }
        .head-clear {
            float: right;
        }
    }
    #core-notifications {
        > p {
            font-size: .9em;
            margin: 30px 15px 20px;
            text-align: center;
            color: $grey85;
        }
        .notif {
            > a {
                display: block;
                padding: 20px 25px;
                color: $text;
            }
            .type {
                font-size: 1.3em;
                line-height: 50px;
                float: left;
                width: 50px;
                height: 50px;
                margin: 0 15px 0 0;
                text-align: center;
                color: $primary;
                border-radius: 50%;
                background: $secondary;
                &.info i:before {
                    content: '\F2FD';
                }
            }
            p {
                display: block;
                overflow: hidden;
                overflow: hidden;
                margin: 9px 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                small {
                    display: block;
                    color: $grey80;
                }
            }
        }
        .notification-nope {
            margin: 50px 25px;
            text-align: center;
            text-transform: uppercase;
            color: $grey85;
            i {
                font-size: 3em;
            }
        }
    }
}

//Main
#content {
    display: inline-block;
    width: calc(100% - 300px);
    margin: 50px 0 0 0;
    .page_total {
        font-weight: 700;
        line-height: 45px;
        margin: 0 0 40px;
        text-transform: uppercase;
        color: $grey80;
        float: left;
        span {
            margin-left: 10px;
            color: $grey70;
        }
    }
    .page_search {
        float: right;
        position: relative;
        width: calc(100% / 3 - 20px);
        input {
            line-height: 45px;
            width: 100%;
            height: 45px;
            padding: 0 45px 0 25px;
            transition: all .2s linear;
            color: $text;
            border: 1px solid $grey92;
            border-radius: 5px;
            background: $grey92;
            &:focus {
                border-color: $primary;
                background: $primary;
                @extend %shadow_primary;
            }
            &::-webkit-input-placeholder {
                color: $grey80;
            }
            &::-moz-placeholder {
                color: $grey80;
            }
            &:-ms-input-placeholder {
                color: $grey80;
            }
            &:-moz-placeholder {
                color: $grey80;
            }
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
            height: 45px;
            width: 45px;
            background: transparent;
            border: none;
            font-size: 1.3em;
            color: $grey80;
        }
    }
    .post {
        margin: 0 0 50px;
        overflow: hidden;
        transition: all .2s linear;
        border-radius: 5px;
        background: $primary;
        @extend %shadow_static;
        &:hover {
            @extend %shadow_primary;
        }
        &.full_post {
            @extend %shadow_primary;
        }
        .post-image {
            height: 300px;
            overflow: hidden;
            position: relative;
            border-radius: 5px 5px 0 0;
            background: $grey97;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);
                opacity: 0.7;
            }
        }
        .post_top {
            margin: 0 0 40px;
            padding: 40px 40px 0;
            img {
                width: 30px;
                height: 30px;
                margin: 0 10px 0 0;
                vertical-align: middle;
                border-radius: 50%;
            }
            span {
                color: $grey80;
            }
            .has-read {
                font-size: .7em;
                float: right;
                padding: 9px 15px;
                text-transform: uppercase;
                color: $grey70;
                border-radius: 30px;
                background: $grey95;
            }
        }
        .post_text {
            color: $text;
            line-height: 1.9em;
            word-wrap: break-word;
            padding: 0 40px;
            a {
                text-decoration: underline;
                color: $secondary;
                &:hover {
                    text-decoration: none;
                }
            }
            span {
                font: {
                    color: $text;
                    weight: 700;
                    size: 1.5em;
                }
                display: inline-block;
                margin: 0 0 20px;
            }
            h1 {
                padding: 40px 0;
                text-align: center;
            }
        }
        .post_more {
            text-align: center;
            padding: 40px;
        }
        .post_tags {
            margin: 30px 0 0;
            color: $text;
            padding: 0 40px;
            a {
                color: $text;
            }
            i {
                font-size: 1.2em;
                margin: 0 5px 0 0;
                color: $grey85;
            }
        }
        .post_bottom {
            margin: 50px 0 0;
            padding: 0 40px 40px;
            a,
            > span {
                margin: 0 15px 0 0;
                color: $text;
            }
            i {
                font-size: 1.2em;
                margin: 0 5px 0 0;
                color: $grey85;
            }
            .category {
                margin: 0 40px 0 0;
            }
            .rating {
                float: right;
                margin: 0;
                i {
                    margin: 0;
                    padding: 0 8px;
                    cursor: pointer;
                    &.like {
                        color: $green;
                    }
                    &.dislike {
                        color: $red;
                    }
                }
            }
        }
    }
    .post-nope {
        margin: 50px 0;
        text-align: center;
        text-transform: uppercase;
        color: $grey85;
        i {
            font-size: 5em;
            display: block;
            margin: 0 0 25px;
        }
        div {
            margin: 0 0 10px;
        }
    }
    .pagination {
        margin: 0 0 50px;
        padding: 0 40px;
        text-align: center;
        li {
            display: inline-block;
            &:first-child {
                float: left;
            }
            &:last-child {
                float: right;
            }
            &.disabled {
                cursor: default;
                color: $grey85;
            }
            &.num a {
                padding: 0 10px;
            }
            &.active a {
                padding: 8px 10px;
                border-radius: 2px;
                background: $grey92;
            }
        }
    }
    &.main_center {
        display: block;
        width: 570px;
        margin: 50px auto;
    }
    &.not_found {
        font-size: 3em;
        font-weight: 700;
        word-wrap: break-word;
        width: 100%;
        margin: 200px auto 50px;
        text-align: center;
        text-transform: uppercase;
        color: $text;
        span {
            font-size: .3em;
            line-height: 2em;
            display: block;
            margin: 40px 0 0;
            color: $grey85;
        }
    }
}

#sidebar {
    float: right;
    width: 270px;
    margin: 60px 0 0 30px;
    section {
        line-height: 1.8em;
        margin: 0 0 40px;
        padding: 0 0 40px;
        border-bottom: 1px solid $grey92;
        .title {
            font-weight: 700;
            line-height: initial;
            margin: 0 0 30px;
            text-transform: uppercase;
            color: $grey75;
        }
    }
    #panel {
        margin: 0;
        border: none;
        a {
            line-height: 60px;
            display: block;
            height: 60px;
            margin: 0 0 20px;
            padding: 0 15px;
            transition: all .2s linear;
            color: $text;
            border-radius: 5px;
            background: $grey92;
            &:hover {
                @extend %shadow_static;
            }
            &:last-child {
                margin: 0;
            }
        }
        i {
            width: 25px;
        }
    }
    #category {
        a {
            margin: 0 5px 0 0;
            &.active {
                font-weight: 700;
                color: $text;
            }
        }
    }
    #popular {
        a {
            display: block;
        }
    }
    #adv {
        .adv_mockup {
            height: 300px;
            background: $grey92;
        }
    }
    footer {
        margin: 0 0 60px 0;
        text-align: center;
        a {
            padding: 5px;
        }
    }
}

//Comments
.add_form {
    position: relative;
    margin: 0 0 25px;
    > * {
        transition: all .1s linear;
    }
    textarea {
        line-height: 1.5em;
        display: block;
        overflow: hidden;
        width: 100%;
        padding: 26px 70px 26px 25px;
        resize: none;
        color: $text;
        border: none;
        border-radius: 5px;
        outline: none;
        background: $grey92;
        &::-webkit-input-placeholder {
            color: $grey75;
        }
        &:focus {
            background: $primary;
            + button {
                font-size: initial;
                background: $secondary;
                &:hover {
                    @extend %shadow_btn;
                }
            }
        }
    }
    button {
        font-size: 0;
        line-height: 40px;
        position: absolute;
        right: 15px;
        bottom: 18px;
        width: 40px;
        height: 40px;
        text-align: center;
        color: $primary;
        border: none;
        border-radius: 50%;
        outline: none;
        background: $grey85;
    }
}

.comments_reply {
    margin: 0 0 25px;
    a {
        padding: 10px 15px;
        border-radius: 5px;
        background: $secondary;
        display: none;
        color: $primary;
        span {
            margin: 0 5px 0 0;
        }
    }
}

.comments_item {
    overflow: hidden;
    padding: 25px 0;
    .item-photo {
        float: left;
        a {
            display: inline-block;
        }
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
    .item-text {
        float: right;
        width: calc(100% - 70px);
        color: $grey80;
        .text {
            line-height: 1.5em;
            margin: 20px 0 40px;
            color: $text;
        }
        .date {
            font-size: .8em;
            > span {
                margin: 0 0 0 10px;
            }
            form {
                display: inline-block;
                margin: 0 0 0 10px;
                button {
                    background: none;
                    border: none;
                    transition: all .1s linear;
                    &:hover {
                        color: $grey70;
                    }
                }
            }
        }
    }
}

//Profile
.profile {
    margin: 0 0 50px;
    border-radius: 5px;
    background: $primary;
    @extend %shadow_static;
    .general {
        font-size: 1.2em;
        padding: 35px 40px;
        color: $text;
        border-bottom: 1px solid $grey95;
        > * {
            display: inline-block;
            vertical-align: middle;
        }
        img {
            width: 60px;
            height: 60px;
            margin: 0 20px 0 0;
            border-radius: 50%;
        }
        .rating {
            float: right;
        }
        small {
            display: block;
            margin: 10px 0 0;
            color: $grey80;
        }
    }
    .information {
        overflow: hidden;
        padding: 35px 40px;
        color: $grey80;
        > * {
            display: inline-block;
            vertical-align: top;
        }
        .counter {
            margin: 0 40px 0 0;
            span {
                font-size: 2em;
                display: block;
                margin: 0 0 10px 0;
                color: $text;
            }
        }
        .about {
            float: right;
            width: 530px;
            li {
                padding: 10px 0;
                i {
                    min-width: 30px;
                }
                span,
                a {
                    white-space: nowrap;
                    color: $text;
                }
            }
        }
    }
}


/* Edit - Photo */

.edit_photo {
    .avatar {
        width: 150px;
        height: 150px;
        border-radius: 5px;
        display: inline-block;
        vertical-align: middle;
    }
    .photo-panel {
        display: inline-block;
        vertical-align: middle;
        margin: 0 30px;
        > span {
            margin: 0 15px;
        }
        > p {
            font-size: .9em;
            color: $grey80;
            margin: 40px 0 0;
        }
    }
}


/* User list */

.card_content {
    clear: both;
}

.card {
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 0 30px 30px 0;
    padding: 40px 20px;
    transition: all .2s linear;
    text-align: center;
    border-radius: 5px;
    background: $primary;
    @extend %shadow_static;
    &:nth-child(3n) {
        margin: 0 0 30px;
    }
    &:hover {
        @extend %shadow_primary;
    }
    .photo_content {
        position: relative;
        .group-label {
            position: absolute;
            top: -10px;
            left: 50%;
            margin: 0;
            transform: translate(-50%, 0);
        }
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
    .user_link {
        display: block;
        overflow: hidden;
        margin: 20px 0 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .status {
        font-size: .9em;
        color: $grey80;
    }
    .panel {
        margin: 50px 0 0;
        text-align: left;
        padding: 0 20px;
        span {
            color: $text;
            line-height: 46px;
        }
        .btn-primary {
            float: right;
            font-size: 1em;
            padding: 14px 15px;
        }
    }
}


/* Settings */


/* Messages */

.message {
    position: relative;
    overflow: hidden;
    padding: 30px 40px;
    transition: all .1s linear;
    &:hover,
    &.not-read {
        background: $grey97;
    }
    .photo {
        float: left;
        padding: 8px 0;
        img {
            width: 45px;
            height: 45px;
            margin: 0 30px 0 0;
            border-radius: 50%;
        }
    }
    .subject {
        line-height: 30px;
        .message-text {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: $grey70;
            span {
                display: block;
                color: $text;
            }
        }
    }
    .time {
        font-size: .8em;
        position: absolute;
        top: 40px;
        right: 40px;
        pointer-events: none;
        color: $grey80;
    }
}
